In [3]:
import geopandas as gpd
import os
from utils.env_variables import OUTPUT_GDF_DIR

In [4]:
# NB! Only run this once
%cd ..
%load_ext autoreload
%autoreload 2

C:\Users\emily\Documents\repos\south-africa-street-history-mapping

In [3]:
processed_place_name = "johannesburg"
dist = 30000

In [4]:
gdf_output_dir = OUTPUT_GDF_DIR
filename = f"{processed_place_name}_{dist}.parquet"
gdf_output_path = os.path.join(gdf_output_dir, filename)
data = gpd.read_parquet(gdf_output_path)
data

                              origin             name  \
u           v           key
21588150    21588161    0    england   Eastern Bypass
21588161    289062468   0       None             None
            21588164    0    england   Eastern Bypass
21588164    252016520   0    england  Southern Bypass
            252016478   0       None             None
...                              ...              ...
11640434561 11640407038 0    england    Melville Road
            11640354644 0       None             None
11641137785 7169532350  0       None             None
            7159143533  0       None             None
            7159143538  0       None             None

                                                                      geometry
u           v           key
21588150    21588161    0    LINESTRING (28.13226 -26.21563, 28.13220 -26.2...
21588161    289062468   0    LINESTRING (28.12582 -26.23139, 28.12582 -26.2...
            21588164    0    LINESTRING (28.12582 -26.23139, 28.12545 -26.2...
21588164    252016520   0    LINESTRING (28.12561 -26.23630, 28.12570 -26.2...
            252016478   0    LINESTRING (28.12561 -26.23630, 28.12584 -26.2...
...                                                                        ...
11640434561 11640407038 0    LINESTRING (28.04488 -26.13385, 28.04487 -26.1...
            11640354644 0    LINESTRING (28.04488 -26.13385, 28.04472 -26.1...
11641137785 7169532350  0    LINESTRING (27.92228 -26.04833, 27.92216 -26.0...
            7159143533  0    LINESTRING (27.92228 -26.04833, 27.92428 -26.0...
            7159143538  0    LINESTRING (27.92228 -26.04833, 27.92192 -26.0...

[337214 rows x 3 columns]

In [7]:
data[data["name"] != 'None']

                              origin             name  \
u           v           key
21588150    21588161    0    england   Eastern Bypass
21588161    289062468   0       None             None
            21588164    0    england   Eastern Bypass
21588164    252016520   0    england  Southern Bypass
            252016478   0       None             None
...                              ...              ...
11640434561 11640407038 0    england    Melville Road
            11640354644 0       None             None
11641137785 7169532350  0       None             None
            7159143533  0       None             None
            7159143538  0       None             None

                                                                      geometry
u           v           key
21588150    21588161    0    LINESTRING (28.13226 -26.21563, 28.13220 -26.2...
21588161    289062468   0    LINESTRING (28.12582 -26.23139, 28.12582 -26.2...
            21588164    0    LINESTRING (28.12582 -26.23139, 28.12545 -26.2...
21588164    252016520   0    LINESTRING (28.12561 -26.23630, 28.12570 -26.2...
            252016478   0    LINESTRING (28.12561 -26.23630, 28.12584 -26.2...
...                                                                        ...
11640434561 11640407038 0    LINESTRING (28.04488 -26.13385, 28.04487 -26.1...
            11640354644 0    LINESTRING (28.04488 -26.13385, 28.04472 -26.1...
11641137785 7169532350  0    LINESTRING (27.92228 -26.04833, 27.92216 -26.0...
            7159143533  0    LINESTRING (27.92228 -26.04833, 27.92428 -26.0...
            7159143538  0    LINESTRING (27.92228 -26.04833, 27.92192 -26.0...

[337214 rows x 3 columns]

In [5]:
processed_place_name = "kensington"
dist = 5000

In [6]:
gdf_output_dir = OUTPUT_GDF_DIR
filename = f"{processed_place_name}_{dist}.parquet"
gdf_output_path = os.path.join(gdf_output_dir, filename)
data = gpd.read_parquet(gdf_output_path)
data

                                   origin            name primary_term  \
u           v           key
21588125    103930008   0         england  Eastern Bypass      eastern
21588150    21588161    0         england  Eastern Bypass      eastern
21588161    289062468   0            None            None         None
            21588164    0         england  Eastern Bypass      eastern
25388330    6812649353  0            None            None         None
...                                   ...             ...          ...
11490315371 11490315374 0    south_africa    Beryl Street        beryl
            7119859134  0            None            None         None
11490315374 7119859134  0            None            None         None
            11490315371 0    south_africa    Beryl Street        beryl
            7119646411  0    south_africa    Beryl Street        beryl

                             likelihood  \
u           v           key
21588125    103930008   0     77.331606
21588150    21588161    0     77.331606
21588161    289062468   0           NaN
            21588164    0     77.331606
25388330    6812649353  0           NaN
...                                 ...
11490315371 11490315374 0     50.000000
            7119859134  0           NaN
11490315374 7119859134  0           NaN
            11490315371 0     50.000000
            7119646411  0     50.000000

                                                                      geometry
u           v           key
21588125    103930008   0    LINESTRING (28.13143 -26.17580, 28.13153 -26.1...
21588150    21588161    0    LINESTRING (28.13226 -26.21563, 28.13220 -26.2...
21588161    289062468   0    LINESTRING (28.12582 -26.23139, 28.12582 -26.2...
            21588164    0    LINESTRING (28.12582 -26.23139, 28.12545 -26.2...
25388330    6812649353  0    LINESTRING (28.05109 -26.16931, 28.05172 -26.1...
...                                                                        ...
11490315371 11490315374 0    LINESTRING (28.11034 -26.17096, 28.11044 -26.1...
            7119859134  0    LINESTRING (28.11034 -26.17096, 28.11037 -26.1...
11490315374 7119859134  0    LINESTRING (28.11044 -26.17096, 28.11044 -26.1...
            11490315371 0    LINESTRING (28.11044 -26.17096, 28.11034 -26.1...
            7119646411  0    LINESTRING (28.11044 -26.17096, 28.11059 -26.1...

[12769 rows x 5 columns]

In [7]:
gdf_output_dir = OUTPUT_GDF_DIR
filename = f"{processed_place_name}_{dist}_language.parquet"
gdf_output_path = os.path.join(gdf_output_dir, filename)
data = gpd.read_parquet(gdf_output_path)
data

                              origin            name    primary_term  \
u           v           key
21588125    103930008   0    english  Eastern Bypass  eastern bypass
21588150    21588161    0    english  Eastern Bypass  eastern bypass
21588161    289062468   0       None            None            None
            21588164    0    english  Eastern Bypass  eastern bypass
25388330    6812649353  0       None            None            None
...                              ...             ...             ...
11490315371 11490315374 0    english    Beryl Street           beryl
            7119859134  0       None            None            None
11490315374 7119859134  0       None            None            None
            11490315371 0    english    Beryl Street           beryl
            7119646411  0    english    Beryl Street           beryl

                             likelihood  \
u           v           key
21588125    103930008   0     36.065003
21588150    21588161    0     36.065003
21588161    289062468   0           NaN
            21588164    0     36.065003
25388330    6812649353  0           NaN
...                                 ...
11490315371 11490315374 0     27.305334
            7119859134  0           NaN
11490315374 7119859134  0           NaN
            11490315371 0     27.305334
            7119646411  0     27.305334

                                                                      geometry
u           v           key
21588125    103930008   0    LINESTRING (28.13143 -26.17580, 28.13153 -26.1...
21588150    21588161    0    LINESTRING (28.13226 -26.21563, 28.13220 -26.2...
21588161    289062468   0    LINESTRING (28.12582 -26.23139, 28.12582 -26.2...
            21588164    0    LINESTRING (28.12582 -26.23139, 28.12545 -26.2...
25388330    6812649353  0    LINESTRING (28.05109 -26.16931, 28.05172 -26.1...
...                                                                        ...
11490315371 11490315374 0    LINESTRING (28.11034 -26.17096, 28.11044 -26.1...
            7119859134  0    LINESTRING (28.11034 -26.17096, 28.11037 -26.1...
11490315374 7119859134  0    LINESTRING (28.11044 -26.17096, 28.11044 -26.1...
            11490315371 0    LINESTRING (28.11044 -26.17096, 28.11034 -26.1...
            7119646411  0    LINESTRING (28.11044 -26.17096, 28.11059 -26.1...

[12769 rows x 5 columns]